/* this is used to align search bars etc  */

.center {
  display: flex;
  justify-content: left;
  padding-left: 10%;
  padding-top: 5%;
}

.uppercase{
  text-transform: uppercase;
}

.semibold{
  font-weight: semibold;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* This is to center vertically in the viewport */

}


.anothercenter {
  display: flex;
  justify-content: left;
  padding-left: 12%;
  padding-top: ;

}

    .card-fixed {
        height: 300px; /* Fixed height for the card */
        width: 100%; /* Full width within the column */
        overflow-y: auto; /* Scroll if content overflows */
    }

