/* this is used to align search bars etc  */

.center {
  display: flex;
  justify-content: left;
  padding-left: 10%;
  padding-top: 5%;
}

.uppercase{
  text-transform: uppercase;
}

.semibold{
  font-weight: semibold;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* This is to center vertically in the viewport */

}

