{% extends 'base.html' %}
{% block title %} User - {% endblock title %}
{% block body %}


<link rel="stylesheet" href="{{ url_for('static', filename='css/selectform.css') }}">
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">-->

<div class="my-div">
    <form method="POST" action="{{ url_for('users.modify_user') }}">
        <select name="action" id="users">
            <option value="delete_guest_user">Delete Guest User</option>
            <option value="mobile_number">Mobile Number</option>
            <option value="email">Email</option>
            <option value="department">Department</option>
            <option value="roles">Assign Roles</option>
        </select>
        <input type="submit" value="Go">
    </form>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/utils.css') }}">
<div class="center">
    <!--    <form method="POST" action="{{ url_for('users.delete_guest_user') }}">-->
    <form method="POST" action="{{ url_for('users.delete_guest_user') }}">
        {{ form.hidden_tag() }}
        <p>
            {{form.name.label(class="form-label")}}
            {{form.name(size=40)}}
        </p>
        {{form.submit(class="btn btn-secondary")}}
    </form>
</div>

<p>

    {% if users_list %}
<form method="POST" action="{{ url_for('users.delete_users') }}">
    <div class="center">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>User Login Id</th>
                <th>Customer Id</th>
                <th>Status</th>
                <th>Action Type</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users_list %}
            <tr id="{{user.user_log_id}}">
                <td>{{ user.user_log_id }}</td>
                <td>{{ user.customer_id }}</td>
                <td>{{ user.status }}</td>
                <td>{{ user.action_type_code }}</td>
                <td><input type="checkbox" name="mycheckbox" value="{{user.user_log_id}}"/></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="middle">
        <input type="submit" value="Delete All Selected" class="btn btn-secondary">
    </div>
</form>
{% endif %}


{% endblock body %}