{% extends 'base.html' %}
{% block title %} User - {% endblock title %}
{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/selectform.css') }}">

<div class="my-div">
    <form method="POST" action="{{ url_for('users.modify_user') }}">
        <select name="action" id="users">
            <option value="department">Department</option>
            <option value="roles">Assign Roles</option>
            <option value="mobile_number">Mobile Number</option>
            <option value="email">Email</option>
        </select>
        <input type="submit" value="Go">
    </form>
</div>



<div class="container">
    <div class="form-container">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="som@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control form-textarea" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button class="btn">Submit</button>
    </div>
</div>


{% endblock body %}