{% extends 'base.html' %}
{% block title %} Modify User - {% endblock title %}
{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/selectform.css') }}">

<div class="center">
    <form method="POST" >
        <select name="users" id="users">
            <option name="action" value="mobile_number">Mobile Number</option>
            <option name="action" value="email">Email</option>
            <option name="action" value="department">Department</option>
        </select>
        <input type="submit" value="Go">
    </form>
</div>


{% endblock body %}