{% extends 'base.html' %}
{% block title %} User - {% endblock title %}
{% block body %}


<link rel="stylesheet" href="{{ url_for('static', filename='css/selectform.css') }}">

<div class="my-div">
    <form method="POST" action="{{ url_for('users.modify_user') }}">
        <select name="action" id="users">
            <option value="mobile_number">Mobile Number</option>
            <option value="email">Email</option>
<!--            <option value="department">Department</option>-->
<!--            <option value="roles">Assign Roles</option>-->
            <option value="delete_guest_user">Delete Guest User</option>
            <option value="name">Name</option>
        </select>
        <input type="submit" value="Go">
    </form>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/utils.css') }}">
<div class="center">
    <form method="POST" action="{{ url_for('users.modify_mobile_number') }}">
        {{ form.hidden_tag() }}
        <p>
            {{form.name.label(class="form-label")}}
            {{form.name(size=40)}}
            <br>
            {{form.mobile_number.label(class="form-label")}}
            {{form.mobile_number(size=40)}}

        </p>
        {{form.submit(class="btn btn-secondary")}}
    </form>
    <!--     {% if name %}-->
    <!--    <p>Updated Mobile Number: {{ name }}</p>-->
    <!--    {% endif %}-->
</div>


{% endblock body %}